/* Style definition */
:root {
    /* theme */
    
    /* ligth */
    --bg-color: #fcfada;
    --font-color: black;
    --item-bg-color: rgb(57, 84, 57);
    --item-font-color: rgb(255, 255, 255);
    
    /* menu-item hover */
    --item-bg-rev-color: rgb(180, 243, 183);
    --item-font-rev-color: rgb(0, 0, 0);
    
    /* dark */
    /* --bg-color: #000000;
    --font-color: white;
    --item-bg-color: rgb(113, 181, 157);
    --item-font-color: rgb(0, 0, 0); */
    
    /* menu-item hover */
    /* --item-bg-rev-color: rgb(38, 83, 39);
    --item-font-rev-color: rgb(255, 255, 255); */
}

/* Global css default */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: PingFang SC;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

input {
    border: none;
    outline: none;
    background-color: transparent;
}

button {
    border: none;
    background-color: transparent;
}

textarea {
    outline: none;
}
/* Global animation */
.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}
.fade-enter-active,
.fade-leave-active {
    transition: 0.25s;
}