.wrapper {
    width: 80%;
    margin: 0 auto;
}
/* layout */
.flex-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

/* input \ button \ textarea */
.searchButton {
    cursor: pointer;
    padding: 0 8px;
    vertical-align: middle;
    height: 48px;
    font-weight: bold;
    color: var(--item-font-color);
    line-height: 48px;
    text-align: center;
    background-color: var(--item-bg-color);
    border-radius: 4px;
    transition: 0.25s;
}

.searchButton:hover {
    background-color: var(--item-bg-rev-color);
    color: var(--item-font-rev-color);
}

.inputItem {
    padding-left: 0.5em;
    height: 48px;
    border: 1px solid var(--item-bg-color);
    border-radius: 4px;
    background-color: var(--edit-bg-color);
}

.textareaItem {
    padding: 1em;
    width: 85%;
    resize: none;
    color: var(--edit-font-color);
    background-color: var(--edit-bg-color);
    border: 1px solid var(--item-bg-color);
    border-radius: 4px;
}
